@charset "UTF-8";
:root {
    --cor1: #011826;
    --cor2: #012E40;
    --cor3: #03738C;
    --cor4: #B9B8BF;
    --cor5: #56ACBF;
}

* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--cor2);
    height: 100vh;
}

.main-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-title {
    font-size: 40px;
    padding: 30px 0;
    color: white;
}

.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
}

.top-menu {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 50px;
    padding: 10px;
    border-radius: 10px;
    background-color: #03738C;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.548);
}

input[type=color].cell {
    width: 60px;
    height: 60px;
    border: none; 
    -webkit-appearance: none;
    transition: transform .5s ease-in-out;
    transform: scale(1);
}

input[type=color].cell:hover  {
    transform: scale(1.1);
}

input[type=color].cell::-webkit-color-swatch-wrapper {
    padding: 0;
    background: var(--cor3);
   
}

input[type=color].cell::-webkit-color-swatch {
    border-radius: 50px;
    width: 50px;
    border: none;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.623);
}

.button-container {
    display: flex;
    gap: 10px;
}

.button-container > button, .modeBtn {
    height: 30px;
    width: 120px;
    border: 1px solid var(--cor4);
    background-color: var(--cor1);
    color: white;
    font-size: 18px;
    padding: 2px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.418);
    transition: transform .5s ease;
}

.button-container > button:hover {
    background-color: var(--cor5);
}

.button-container > button.active {
    transform: scale(1.1);
    background-color: var(--cor5);
    transition: transform .5s ease;
}

.size-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    gap: 8px;
    color: white;
}

input[type=range] {
    -webkit-appearance: none;
    background-color: white;
}

input[type=range]::-webkit-slider-runnable-track {
    height: 5px;
    border: 1px solid black;
    border-radius: 10px;
    
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 25px;
    background-color: var(--cor1);
    margin-top: -8px;
}

.side-menu {
    display: flex;
    flex-direction: column;
}

.cell-container {
    display: grid;
    border: 1px solid;
    background-color: white;
    width: 600px;
    height: 600px;
    border: 10px solid black;
    border-style: inset;
}

.grid-item {
    background-color: initial;
    border: .5px solid rgba(0, 0, 0, 0.397);
    margin: 0;
    padding: 0;
    user-select: none;
}

.trasition {
    transition: background-color 0.5s ease-in-out;
}

footer {
    display: flex;
    margin-top: 30px;
    flex: 1;
    justify-content: center;
    width: 100%;
    padding: 10px;
}

.main-footer {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 10px;
    color: white;
}

.footer-link {
    text-decoration: none;
    color: white;
}

.modeBtn {
    width: 80px;
    height: 40px;
}
.modeBtn:hover {
    background-color: var(--cor5);
}

.menu-smallDevice {
    display: none;
}

@media (max-width: 850px){
    .top-menu {
        width: 550px;
        flex-direction: column;
        height: fit-content;
        gap: 20px;
    }
    .button-container > button {
        font-size: 15px;
        width: 100px;
    }
    .size-container {
        height: fit-content;
    }
    .cell-container {
        width: 500px;
        height: 500px;
    }
}


@media (max-width: 600px) {
    .top-menu {
        flex-direction: row;
        gap: 20px;
        width: 350px;
        height: fit-content;
    }
    .button-container {
        flex-direction: row;
    }
    .button-container > button {
        width: 80px;
    }
    .cell-container {
        width: 395px;
        height: 395px;
    }
    div.hidden {
        width: 100%;
        padding: 10px;
        position: absolute;
        left: 0;
        top: 193px;
        display: none;
        justify-content: center;
        position: absolute;
    }
    .menu-smallDevice {
        display: block;
        text-transform: capitalize;
    }
}