* {
    margin: 0;
    padding: 0;
    
}
body {

}
.grid-container {
    display: grid;
    margin: auto;
    border: 5px solid green;
    width: 800px;
    height: 800px;
    
    
}

.grid-item {
    user-select: none;
    border: 1px solid rgba(0, 0, 0, 0.397);
    box-sizing: border-box;
}
